.form{
    position: relative;
    top: 150px;
    left: 380px;
    background-color: beige;
    width: 50%;

}

.home{
    position: relative;
    top: 100px;
}

.title_loan{
    padding-left: 50px;
    padding-top: 10px;
    color: beige;
}

.balance{
    margin-bottom: 10px;
    font-size: large;
    padding-top: 50px;
}

.rewards{
    margin-bottom: 10px;
    font-size: large;
    margin-top: 10px;
}

.message{
    text-align: center;
    margin-left: 10px;
    margin-top: 40px;
    
}

.card{
    position: relative;
   bottom: 150px;
   left: 0px;
   
}

#submit_loan{
    position: relative;
    top: 30px;
}

#card_body{
    position: relative;
    top: 80px; 
    background-color: darkgreen;
}

.card_text{
    text-align: center;
    font-size: larger;
    color: beige;
}

.title_loan{
    text-align: center;
    position: relative;
    top:10px;
    margin-top: 30px;
}

.loan_background{
    background-color: darkgreen;
}

.loan_home{
    position: relative;
    top: 20px;
}