
.spacedButton {
    margin-right: 25px;
}

.myTable {
    background-color: beige;
    padding-bottom: 20px;
}

.bottomButton {
    margin-left: 16%;
}


.background{
    background-color: darkgreen;
}
.title{
    text-align: center;
    color: darkgreen;
}