
.spacedButton {
    margin-right: 25px;
}

.myTable {
    background-color: beige;
}

.myTitle {
    text-align: center;
    color: darkgreen;
}

.bottomButton {
    margin-left: 16%;
}


.myBackground{
    background-color: darkgreen;
}