.transactionsTable{
    background-color: beige;
    padding-bottom: 20px;
}
.background{
    background-color: darkgreen;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: darkgreen;

}
.withdrawalAmount{
    color: red;
}
.depositAmount{
    color:rgb(25, 185, 25);
}
.billAmount{
    color: red;
}